<!-- FOOTER -->
<br>
<div class="container">
<footer class="col-md-12">
  <!--<br>
  <p class="pull-right">
    <a href="#">Back to top</a>
  </p>
  <p>&copy; 2018 &middot;
    <a href="#"></a> &middot;
    <a href="#"></a>
  </p>-->
</footer>
</div>