<div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Projeto Adotar</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/animals">Adotar</a></li>
                <li><a href="/animals/new">Cadastrar Animal</a></li>
                <li><a href="/animals/mine">Meus Animais</a></li>
                <li><a href="#contact">Sobre Nós</a></li>  
                <% if user_signed_in? %>
                <li><a href="<%= destroy_user_session_path %>" data-method="delete">Logout</a></li> 
                <% else %>
                <li><a href="<%= new_user_session_path %>">Login</a></li>
                <% end%>
            
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>                
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

    <br>
    <br>
    <br>
    <br>