 <!-- Styles -->
      <style>
     
			/*
			#hd h1 { font-size: 48px; text-transform: uppercase; letter-spacing: 3px; }
			h2 { font-size: 152% }
			h3, h4 { font-size: 122%; }
			h1, h2, h3, h4 { color: #333; }
			p { font-size: 100%; line-height: 18px; padding-right: 3em; }
			
			
			strong { font-weight: bold; }
			li { line-height: 24px; solid #ccc; }
			p.enlarge { font-size: 144%; line-height: 24px; }
			p.enlarge span { color: #000 }
			.contact-info { margin-top: 7px; }
			.first h2 { font-style: italic; } */
			
			.line{border-bottom: 1px solid #C0C0C0; }
		  .menu{line-height: 24px; font-size: 160%; color: #000000; font-family: Helvetica;}
		  .lista{list-style: none;}
		  .item{line-height: 24px; text-decoration: none !important; margin-right: 10px; font-size: 130%; color: #000000; padding: 20;}
      </style>

      <div class="col-md-2">
        
        <div class="line">
        <h5 class="menu">Tipo de Animal</h5>
        <ul class="lista">
          <li>
            <a class="item" href="#"
              title=""><input type="checkbox" value="">Cachorro</a>
          </li>
          <li>
            <a class="item" href="#"
              title=""><input class="item" type="checkbox" value="">Gato</a>
          </li>
          <li>
            <a class="item" href="#"
              title=""><input type="checkbox" value="">Outros</a>
          </li>
        </ul>
        </div> 	<!-- class line-->
        
        
      
        
        <div class="line">
        <h5 class="menu">Genero</h5>
        <ul class="lista">
          <li>
            <a class="item" href="#"
              title=""><input type="checkbox" value="">Femea</a>
          </li>
          <li>
          <a class="item" href="#"
              title=""><input type="checkbox" value="">Macho</a>
          </li>
        </ul>
        </div>
        
        <div class="line">
        <h5 class="menu">Cidade</h5>
        <ul class="lista">
          <li>
           <a class="item" href="#"
              title=""><input type="checkbox" value="">Taquara</a>
          </li>
          <li>
            <a class="item" href="#"
              title=""><input type="checkbox" value="">Veja todas as opções</a>
          </li>
        </ul>
        </div>
        
        <div class="line">
        <h5 class="menu">Porte</h5>
        <ul class="lista">
          <li>
            <a class="item" href="#"
              title=""><input type="checkbox" value="">Pequeno</a>
          </li>
          <li>
            <a class="item" href="#"
              title=""><input type="checkbox" value="">Médio</a>
          </li>
          <li>
            <a class="item" href="#"
              title=""><input type="checkbox" value="">Grande</a>
          </li>
        </ul>
        </div>
        
        <div class="line">
        <h5 class="menu">Idade</h5>
        <ul class="lista">
          <li>
            <a class="item" href="#"
              title=""><input type="checkbox" value="">Filhote</a>
          </li>
          <li>
           <a class="item" href="#"
              title=""><input type="checkbox" value="">Adulto</a>
          </li>
        </ul>
        </div>
        
        <div class="line">
        <h5 class="menu">Castrado</h5>
        <ul class="lista">
          <li>
            <a class="item" href="#"
              title=""><input type="checkbox" value="">Sim</a>
          </li>
          <li>
            <a class="item" href="#"
              title=""><input type="checkbox" value="">Não</a>
          </li>
        </ul>
        </div>
        
        <div class="line">
        <h5 class="menu">Vacinado</h5>
        <ul class="lista">
          <li>
            <a class="item" href="#"
              title=""><input type="checkbox" value="">Sim</a>
          </li>
          <li>
            <a class="item" href="#"
              title=""><input type="checkbox" value="">Não</a>
          </li>
        </ul>
        </div>
      
      

    </div>