<div class="col-md-2">
      <div class="search-single-navigator" style="display:block">
        <h3 class="brinco">
          <span></span>
          <a href="http://www.lacosdefilo.com.br/brinco" title="Brinco">Brinco</a>
        </h3>
        <h4 class="brinco even">
          <a href="http://www.lacosdefilo.com.br/brinco/brinco-prata/Prateado?PS=24&amp;map=c,c,specificationFilter_92" title="Brinco Prata">Brinco Prata (66)</a>
        </h4>
        <ul class="brinco-prata even">
        </ul>
        <h4 class="brinco even">
          <a href="http://www.lacosdefilo.com.br/brinco/brinco-folheado/Prateado?PS=24&amp;map=c,c,specificationFilter_92" title="Brinco Folheado">Brinco Folheado (27)</a>
        </h4>
        <ul class="brinco-folheado even">
        </ul>
        <h4 class="brinco even">
          <a href="http://www.lacosdefilo.com.br/brinco/brinco-bijuteria/Prateado?PS=24&amp;map=c,c,specificationFilter_92" title="Brinco Bijuteria">Brinco Bijuteria (73)</a>
        </h4>
        <ul class="brinco-bijuteria even">
        </ul>
        <h5 class=" Amazing Menu Cor">Cor</h5>
        <ul class=" Amazing Menu">
          <li class="filtro-ativo">Prateado</li>
          <a href="http://www.lacosdefilo.com.br/brinco?PS=24" class="ver-filtros">Veja todas as opções</a>
        </ul>
        <h5 class="Hide even Amazing Menu HideTamanho">Tamanho</h5>
        <ul class="Tamanho  even Amazing Menu">
          <li>
            <a href="http://www.lacosdefilo.com.br/brinco/Prateado/Brinco Pequeno?PS=24&amp;map=c,specificationFilter_92,specificationFilter_93"
              title="Brinco Pequeno">Brinco Pequeno (70)</a>
          </li>
          <li>
            <a href="http://www.lacosdefilo.com.br/brinco/Prateado/Brinco Médio?PS=24&amp;map=c,specificationFilter_92,specificationFilter_93"
              title="Brinco Médio">Brinco Médio (28)</a>
          </li>
          <li class="last">
            <a href="http://www.lacosdefilo.com.br/brinco/Prateado/Brinco Grande?PS=24&amp;map=c,specificationFilter_92,specificationFilter_93"
              title="Brinco Grande">Brinco Grande (68)</a>
          </li>
        </ul>
        <h5 class="Hide Amazing Menu HideEstilo">Estilo</h5>
        <ul class="Estilo  Amazing Menu">
          <li>
            <a href="http://www.lacosdefilo.com.br/brinco/Prateado/Piercing Falso?PS=24&amp;map=c,specificationFilter_92,specificationFilter_94"
              title="Piercing Falso">Piercing Falso (22)</a>
          </li>
          <li>
            <a href="http://www.lacosdefilo.com.br/brinco/Prateado/Brinco Geométrico?PS=24&amp;map=c,specificationFilter_92,specificationFilter_94"
              title="Brinco Geométrico">Brinco Geométrico (93)</a>
          </li>
          <li class="last">
            <a href="http://www.lacosdefilo.com.br/brinco/Prateado/Brinco Pedra?PS=24&amp;map=c,specificationFilter_92,specificationFilter_94"
              title="Brinco Pedra">Brinco Pedra (60)</a>
          </li>
        </ul>
        <h5 class="Hide even Amazing Menu HideColecoes">Coleções</h5>
        <ul class="Coleções  even Amazing Menu">
          <li>
            <a href="http://www.lacosdefilo.com.br/busca?fq=C:%2f2%2f&amp;fq=specificationFilter_92:Prateado&amp;fq=specificationFilter_95:A.MAR&amp;PS=24"
              title="A.MAR">A.MAR (3)</a>
          </li>
          <li>
            <a href="http://www.lacosdefilo.com.br/brinco/Prateado/Cosmos?PS=24&amp;map=c,specificationFilter_92,specificationFilter_95"
              title="Cosmos">Cosmos (7)</a>
          </li>
          <li>
            <a href="http://www.lacosdefilo.com.br/brinco/Prateado/Signos?PS=24&amp;map=c,specificationFilter_92,specificationFilter_95"
              title="Signos">Signos (11)</a>
          </li>
          <li>
            <a href="http://www.lacosdefilo.com.br/brinco/Prateado/Minimalista?PS=24&amp;map=c,specificationFilter_92,specificationFilter_95"
              title="Minimalista">Minimalista (10)</a>
          </li>
          <li>
            <a href="http://www.lacosdefilo.com.br/brinco/Prateado/Geometria?PS=24&amp;map=c,specificationFilter_92,specificationFilter_95"
              title="Geometria">Geometria (92)</a>
          </li>
          <li>
            <a href="http://www.lacosdefilo.com.br/brinco/Prateado/Pedras e Cristais?PS=24&amp;map=c,specificationFilter_92,specificationFilter_95"
              title="Pedras e Cristais">Pedras e Cristais (14)</a>
          </li>
          <li class="last">
            <a href="http://www.lacosdefilo.com.br/brinco/Prateado/Prata?PS=24&amp;map=c,specificationFilter_92,specificationFilter_95"
              title="Prata">Prata (63)</a>
          </li>
        </ul>
      </div>

    </div>