<div class="navbar-wrapper">
  <div class="container">

    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#">Home</a>

            </li>
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#contact">Contact</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Action</a>
                </li>
                <li>
                  <a href="#">Another action</a>
                </li>
                <li>
                  <a href="#">Something else here</a>
                </li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li>
                  <a href="#">Separated link</a>
                </li>
                <li>
                  <a href="#">One more separated link</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-2">
      <div class="search-single-navigator" style="display:block">
        <h3 class="brinco">
          <span></span>
          <a href="http://www.lacosdefilo.com.br/brinco" title="Brinco">Brinco</a>
        </h3>
        <h4 class="brinco even">
          <a href="http://www.lacosdefilo.com.br/brinco/brinco-prata/Prateado?PS=24&amp;map=c,c,specificationFilter_92" title="Brinco Prata">Brinco Prata (66)</a>
        </h4>
        <ul class="brinco-prata even">
        </ul>
        <h4 class="brinco even">
          <a href="http://www.lacosdefilo.com.br/brinco/brinco-folheado/Prateado?PS=24&amp;map=c,c,specificationFilter_92" title="Brinco Folheado">Brinco Folheado (27)</a>
        </h4>
        <ul class="brinco-folheado even">
        </ul>
        <h4 class="brinco even">
          <a href="http://www.lacosdefilo.com.br/brinco/brinco-bijuteria/Prateado?PS=24&amp;map=c,c,specificationFilter_92" title="Brinco Bijuteria">Brinco Bijuteria (73)</a>
        </h4>
        <ul class="brinco-bijuteria even">
        </ul>
        <h5 class=" Amazing Menu Cor">Cor</h5>
        <ul class=" Amazing Menu">
          <li class="filtro-ativo">Prateado</li>
          <a href="http://www.lacosdefilo.com.br/brinco?PS=24" class="ver-filtros">Veja todas as opções</a>
        </ul>
        <h5 class="Hide even Amazing Menu HideTamanho">Tamanho</h5>
        <ul class="Tamanho  even Amazing Menu">
          <li>
            <a href="http://www.lacosdefilo.com.br/brinco/Prateado/Brinco Pequeno?PS=24&amp;map=c,specificationFilter_92,specificationFilter_93"
              title="Brinco Pequeno">Brinco Pequeno (70)</a>
          </li>
          <li>
            <a href="http://www.lacosdefilo.com.br/brinco/Prateado/Brinco Médio?PS=24&amp;map=c,specificationFilter_92,specificationFilter_93"
              title="Brinco Médio">Brinco Médio (28)</a>
          </li>
          <li class="last">
            <a href="http://www.lacosdefilo.com.br/brinco/Prateado/Brinco Grande?PS=24&amp;map=c,specificationFilter_92,specificationFilter_93"
              title="Brinco Grande">Brinco Grande (68)</a>
          </li>
        </ul>
        <h5 class="Hide Amazing Menu HideEstilo">Estilo</h5>
        <ul class="Estilo  Amazing Menu">
          <li>
            <a href="http://www.lacosdefilo.com.br/brinco/Prateado/Piercing Falso?PS=24&amp;map=c,specificationFilter_92,specificationFilter_94"
              title="Piercing Falso">Piercing Falso (22)</a>
          </li>
          <li>
            <a href="http://www.lacosdefilo.com.br/brinco/Prateado/Brinco Geométrico?PS=24&amp;map=c,specificationFilter_92,specificationFilter_94"
              title="Brinco Geométrico">Brinco Geométrico (93)</a>
          </li>
          <li class="last">
            <a href="http://www.lacosdefilo.com.br/brinco/Prateado/Brinco Pedra?PS=24&amp;map=c,specificationFilter_92,specificationFilter_94"
              title="Brinco Pedra">Brinco Pedra (60)</a>
          </li>
        </ul>
        <h5 class="Hide even Amazing Menu HideColecoes">Coleções</h5>
        <ul class="Coleções  even Amazing Menu">
          <li>
            <a href="http://www.lacosdefilo.com.br/busca?fq=C:%2f2%2f&amp;fq=specificationFilter_92:Prateado&amp;fq=specificationFilter_95:A.MAR&amp;PS=24"
              title="A.MAR">A.MAR (3)</a>
          </li>
          <li>
            <a href="http://www.lacosdefilo.com.br/brinco/Prateado/Cosmos?PS=24&amp;map=c,specificationFilter_92,specificationFilter_95"
              title="Cosmos">Cosmos (7)</a>
          </li>
          <li>
            <a href="http://www.lacosdefilo.com.br/brinco/Prateado/Signos?PS=24&amp;map=c,specificationFilter_92,specificationFilter_95"
              title="Signos">Signos (11)</a>
          </li>
          <li>
            <a href="http://www.lacosdefilo.com.br/brinco/Prateado/Minimalista?PS=24&amp;map=c,specificationFilter_92,specificationFilter_95"
              title="Minimalista">Minimalista (10)</a>
          </li>
          <li>
            <a href="http://www.lacosdefilo.com.br/brinco/Prateado/Geometria?PS=24&amp;map=c,specificationFilter_92,specificationFilter_95"
              title="Geometria">Geometria (92)</a>
          </li>
          <li>
            <a href="http://www.lacosdefilo.com.br/brinco/Prateado/Pedras e Cristais?PS=24&amp;map=c,specificationFilter_92,specificationFilter_95"
              title="Pedras e Cristais">Pedras e Cristais (14)</a>
          </li>
          <li class="last">
            <a href="http://www.lacosdefilo.com.br/brinco/Prateado/Prata?PS=24&amp;map=c,specificationFilter_92,specificationFilter_95"
              title="Prata">Prata (63)</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="col-md-10">
      <% @animals.each do |animal| %>        
        <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img alt="100%x200" data-src="holder.js/100%x200" style="height: 200px; width: 100%; display: block;" src="<%= url_for(animal.files.first) %>"
            data-holder-rendered="true">
          <div class="caption">
            <h3><%= animal.name %></h3>
            <p><%= animal.description %></p>
            <p class="text-center">
              <a href="<%= animal_path(animal) %>" class="btn btn-info" role="button">Visualizar</a>
            </p>
          </div>
        </div>
      </div>
      <% end %>
     

    </div>

  </div>
  <!-- /.row -->



  <!-- FOOTER -->
  <footer class="col-md-12">
    <br>
    <p class="pull-right">
      <a href="#">Back to top</a>
    </p>
    <p>&copy; 2016 Company, Inc. &middot;
      <a href="#">Privacy</a> &middot;
      <a href="#">Terms</a>
    </p>
  </footer>

</div>
<!-- /.container -->